@font-face {
    font-family: 'GraphikBlack';
    src: 
        url('../assets/fonts/graphik/GraphikBlack.otf')
        format('opentype');

}

@font-face {
    font-family: 'GraphikBold';
    src: 
        url('../assets/fonts/graphik/GraphikBold.otf')
        format('opentype');

}

@font-face {
    font-family: 'GraphikMedium';
    src: 
        url('../assets/fonts/graphik/GraphikMedium.otf')
        format('opentype');
}

@font-face {
    font-family: 'GraphikRegular';
    src: 
        url('../assets/fonts/graphik/GraphikRegular.otf')
        format('opentype');
}
@font-face {
    font-family: 'GraphikLight';
    src: 
        url('../assets/fonts/graphik/GraphikLight.otf')
        format('opentype');
}

@font-face {
    font-family: 'GraphikSemibold';
    src: 
        url('../assets/fonts/graphik/GraphikSemibold.otf')
        format('opentype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, .container{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.container::-webkit-scrollbar{
    display: none;
}

.container .navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    /* padding: 2.5rem 9rem 2.5rem 6.7rem; */
    padding: 3rem 6.7rem 4rem 4rem;
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.navbar #logoicon{
    height: 2.5rem;
    z-index: 50;
}

.navbar .navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.navcontainer, .navcontainer > .navdiv{
    list-style: none;
    gap: 6rem;
    display: flex;
    flex-direction: row;
}

.navcontainer .navdiv li{
    font-family: GraphikRegular;
    font-size: 1rem;
    font-weight: 400;
}

.navdiv .nameicon{
    display: none;
}


.navbutton, .navbar > button{
    display: none;
}

#outcomes-nav{
    display: none;
}

.section-content{
    width: 65%;
    height: 63%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.section-content img{
    width: 15%;
}

.section-content > p:last-of-type{
    font-family: GraphikRegular;
    font-size: 1.8rem;
    color: grey;
    opacity: 0.6;
    width: 60%;
}

.section-content > p:last-of-type span{
    color: #000000;
    opacity: 1;
}

.section-content > p:first-of-type{

    font-family: GraphikSemibold;
    font-size: 5rem;
    color: #000000;
    opacity: 1;
}

.section{
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    padding-left: 8%;
}

#section1{
    background: url("../assets/images/BG.svg");
    background-repeat: no-repeat;
    background-clip:padding-box;
    background-size: cover;

}

#section2{
    position: relative;
}

#section2::before{
    position: absolute;
    flex: 0 0 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    background: url("../assets/images/ploragrp.svg");
    background-repeat: no-repeat;
    background-clip:padding-box;
    background-size: cover;
    opacity: 0.15;
    content: "";
    z-index: -1;
    
}

#uiux{
    padding: 2rem;
    border: 0.2rem solid #0078FF;
    min-width: 30%;
    max-width: 50%;
    border-radius: 3rem;
    text-align: center;
}

.section .bottomrightimage{
    position: absolute;
    max-height: 70%;
    max-width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
    overflow: clip;
    overflow-clip-margin: content-margin;
}

#lastsection{
    background-color: #141414;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

#lastsection .inner-footer{
    width: 85%;
    height: 81%;
    display: flex;
    flex-direction: column;
    color: #C8C8C8;
    gap: 1.5rem;
}

.inner-footer .footer-header{
    font-family: GraphikSemibold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-header h1{
    font-size: 2.5rem;
    width: 90%;
}

.inner-footer .footer-content{
    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
}

.footer-content .footer-text-row{
    width: 55%;
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
}

.footer-text-row .col, .footer-text-row .col ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-family: GraphikRegular;
}

.footer-text-row .col{
    font-size: 1.8rem;
    width: 50%;
    gap: 2rem;
}

.footer-text-row .col:last-of-type{
    display: flex;
    align-items: flex-end;
}

.footer-text-row .col ul li{
    text-decoration: underline;
    font-size: 1.5rem;

}

.col .skillset-title{
    font-family: GraphicMedium;
    font-size: 2rem;
    
}

.footer-content .footer-whitelogo{
    width:60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.footer-whitelogo .footer-image{
    width: 65%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

.inner-footer .footer-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
}

.main-icons{
    display: flex;
}

/* 
#lastsection .inner-footer{
    justify-content: flex-end;
    align-items: flex-end;
}

.inner-footer .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
}


.inner-footer .bottomrightimage{
    position: absolute;
}

.row .col:nth-of-type(2){
    align-items: center;
}


.col li{
    text-decoration: underline;
    border-spacing: 10rem;
}

.icons-div{
    display: flex;
    flex-direction: row;
    gap: 20rem;

}

.icons-div .main-icons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.footer-whitelogo{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer-image{
    width: 40%;
    height: 50%;
}
 */

 @media screen and (min-width: 800px) and (max-width:1000px){
    
    .section-content{
        width: 70%;
        height: 63%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }
    
    .section .bottomrightimage{
        position: absolute;
        max-height: 40%;
        max-width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
        overflow: clip;
        overflow-clip-margin: content-margin;
    }


    
    .section{
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        scroll-snap-align: start;
    }

    
    .section-content{
        min-width: 90%;
        height: 63%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .section-content img{
        width: 30%;
    }

    .section-content > p:last-of-type{
        font-family: GraphikRegular;
        font-size: 90%;
        color: grey;
        opacity: 0.6;
        width: 60%;
    }
    
    .section-content > p:last-of-type span{
        color: #000000;
        opacity: 1;
    }
    
    .section-content > p:first-of-type{
        font-family: GraphikSemibold;
        font-size: 350%;
        height: auto;
        width: auto;
        color: #000000;
        opacity: 1;
    }

    .section .bottomrightimage{
        position: absolute;
        max-height: 50%;
        max-width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
        overflow: clip;
        overflow-clip-margin: content-margin;
    }
 }

 @media screen and (min-width: 1000px) and (max-width:1024px){
    .section-content{
        width: 70%;
        height: 63%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }
    
    .section-content img{
        width: 30%;
    }

    
    .section .bottomrightimage{
        position: absolute;
        max-height: 53%;
        max-width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
        overflow: clip;
        overflow-clip-margin: content-margin;
    }
 }

 @media screen and (min-width: 0px) and (max-width:799px)
{
    .container .navbar{
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 2;
        padding: 0 0.5rem;  
    }

    .navbar .navcontainer{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar .navcontainer .navdiv{
        display: none;
        /* flex-wrap: wrap; */
        position: absolute;
        flex-direction: column;
        z-index: 5;
        width: 102vw;
        top: 0;
        height: 100vh;
        gap: 2.7rem;
        transition: top 10s ease-in-out;
        padding: 7.3rem 0 0 1.5rem;
        margin: 0;
    }

    .navcontainer .navdiv li{
        font-family: GraphikSemibold;
        font-size: 3.5rem;
        font-weight: 600;
    }

    .navbar-toggle{
        z-index: 1000;
    }

    .bar{
        width: 2.5rem;
        height: 0.2rem;
        background-color: #000000;
        margin: 0.5rem 0;
        transform: rotate(180deg) translate(0, 0);
        transition: transform 1s;
    }

    
    .bar1{
        width: 2.5rem;
        height: 0.2rem;
        background-color: #FFFFFF;
        margin: 0.5rem 0;
        transform: rotate(-45deg) translate(0, 0);
        transition: 1s;
    }

    .bar2{
        width: 2.5rem;
        height: 0.2rem;
        background-color: #FFFFFF;
        margin: 0.5rem 0;
        transform: rotate(45deg) translate(-8px, -10px);
        transition: 1s;
    } 

    .navcontainer .navdiv > .nameicon{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 5%;
        position: absolute;
        bottom: 0;
        gap: 5rem;
        font-size: 1.2rem;
    }

    .nameicon > .a{
        font-weight: 900;
    }

    
/* 
    

    .change{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-top: 1.5rem;
    }

    .change .bar{
        width: 2.5rem;
        height: 0.2rem;
        background-color: #FFFFFF;
        margin: 0.3rem 0;
        /* position: absolute;
        z-index: 50000; *
    }

    .change .bar1{
        transform: rotate(-45deg) translate(0, 0);
        transition: 2s;
    }

    .change .bar2{
        transform: rotate(45deg) translate(-8px, -10px);
    } */

    .section{
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        scroll-snap-align: start;
    }

    
    .section-content{
        min-width: 90%;
        height: 63%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .section-content img{
        width: 30%;
    }

    .section-content > p:last-of-type{
        font-family: GraphikRegular;
        font-size: 90%;
        color: grey;
        opacity: 0.6;
        width: 60%;
    }
    
    .section-content > p:last-of-type span{
        color: #000000;
        opacity: 1;
    }
    
    .section-content > p:first-of-type{
        font-family: GraphikSemibold;
        font-size: 150%;
        height: auto;
        width: auto;
        color: #000000;
        opacity: 1;
    }

    .section .bottomrightimage{
        position: absolute;
        max-height: 50%;
        max-width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
        overflow: clip;
        overflow-clip-margin: content-margin;
    }

        
    #uiux{
        padding: 1.3rem;
        border: 0.15rem solid #0078FF;
        min-width: 50%;
        max-width: 65%;
        border-radius: 3rem;
        text-align: center;
    }
    
    #uiux > p{
        font-size: 1rem;
        font-family: GraphikSemibold;
    }

    
    #lastsection .inner-footer{
    width: 95%;
    height: 81%;
    display: flex;
    flex-direction: column;
    color: #C8C8C8;
    gap: 0.5rem;
}

    .inner-footer .footer-header{
        font-family: GraphikSemibold;
        font-size: 100%;
    }
    
    .footer-header h1{
        font-size: 2.5rem;
        min-width: 50%;
        height: 10%;
    }

    
    .col .skillset-title{
        font-family: GraphicMedium;
        font-size: 1.3rem;
    }
    
    .footer-text-row .col ul li{
        text-decoration: underline;
        font-size: 1rem;
    }

    
    .footer-content .footer-whitelogo{
        width:60%;
        height: 100%;
        display: none;
        justify-content: flex-end;
        position: relative;
    }

    .footer-whitelogo .footer-image{
        width: 65%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
        display: none;
    }

    
    .inner-footer .footer-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    
    .footer-content .footer-text-row{
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 3rem 0;
    }

    .inner-footer .footer-icons{
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        font-size: 1rem;
        font-family: GraphikSemibold;
    }

}